<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utility Functions</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Risk Preferences Elicitation Tool</h1>

    <h2>Select Elicitation Mode</h2>
        <label>
            <input type="radio" name="elicitationMode" value="input" onclick="toggleElicitationMode()" checked>
            Input Stepwise Elicitation
        </label>
        <label>
            <input type="radio" name="elicitationMode" value="auto" onclick="toggleElicitationMode()">
            Auto Stepwise Elicitation
        </label>

    <div id="inputElicitation" style="display: block;">
        <h2>Input Stepwise Eliciation</h2>

        <h3>Set Your Lottery Parameters</h3>
            <label for="minMoney">Minimum money:</label>
                <input type="number" id="minMoney" placeholder="enter minimum money" /><br>
    
            <label for="maxMoney">Maximum money:</label>
                <input type="number" id="maxMoney" placeholder="enter maximum money" /><br>

            <label for="numQuestions">How many additional lotteries?</label>
                <input type="number" id="numQuestions" min="0" placeholder="enter a number" />
    
            <button onclick="startLotteryQuestions()">Start</button>

        <div id="questionContainer" style="margin-top: 20px;">
            <!-- Lottery and Dynamic Question Inputs Appear Here -->
        </div>

        <div id="resultsContainer" style="margin-top: 20px;">
             <!-- Results are Displayed Here -->
        </div>
    </div>

    <script>
        let currentQuestion = 1;
        let totalQuestions = 0;
        let ce_1, ce_2, ce_3;
        const answers = [];

        function startLotteryQuestions() {
            //Asks users lottery questions
            const minMoney = parseFloat(document.getElementById('minMoney').value);
            const maxMoney = parseFloat(document.getElementById('maxMoney').value);
            totalQuestions = parseInt(document.getElementById('numQuestions').value);

            if (isNaN(minMoney) || isNaN(maxMoney) || minMoney < 0 || maxMoney <= minMoney) {
                alert('please enter valid minimum and maximum money values, with min >= 0 and max > min.');
                return;
                // Checks if user selected minimum amounts of money and maximum amounts of money are ordered appropriately
            }

            if (isNaN(totalQuestions) || totalQuestions < 0) {
                alert('please enter a valid number of questions (0 or more).');
                return;
                // Prevents user from selecting negative number of questions
            }

            showLotteryQuestion(1, minMoney, maxMoney);
        }

        function showLotteryQuestion(step, minMoney, maxMoney) {
            const questionContainer = document.getElementById('questionContainer');
            questionContainer.innerHTML = '';
            // Displays lottery question on web app

            let questionText;
            if (step === 1) {
                questionText = `The lottery has a 50/50 probability that it will either pay out ${minMoney} or ${maxMoney}.`;
            } else if (step === 2) {
                questionText = `The lottery has a 50/50 probability that it will either pay out ${minMoney} or ${ce_1}.`;
            } else if (step === 3) {
                questionText = `The lottery has a 50/50 probability that it will either pay out ${ce_1} or ${maxMoney}.`;
            }

            const questionLabel = document.createElement('p');
            questionLabel.innerText = questionText;
            
            const questionInput = document.createElement('input');
            questionInput.type = 'number';
            questionInput.id = 'lotteryAnswer';
            questionInput.placeholder = 'Enter your answer';

            const submitButton = document.createElement('button');
            submitButton.innerText = 'Submit answer';
            submitButton.onclick = () => submitLotteryAnswer(step, minMoney, maxMoney);

            questionContainer.appendChild(questionLabel);
            questionContainer.appendChild(questionInput);
            questionContainer.appendChild(submitButton);
        }

        function submitLotteryAnswer(step, minMoney, maxMoney) {
            const answerInput = document.getElementById('lotteryAnswer');
            const answer = parseFloat(answerInput.value.trim());
            // Sends user's lottery answers to input_step function in main.py

            if (isNaN(answer)) {
                alert('please provide a valid answer.');
                return;
            }

            if (step === 1) {
                ce_1 = answer;
                showLotteryQuestion(2, minMoney, maxMoney);
            } else if (step === 2) {
                ce_2 = answer;
                showLotteryQuestion(3, minMoney, maxMoney);
            } else if (step === 3) {
                ce_3 = answer;

                if (totalQuestions > 0) {
                    startAdditionalQuestions(minMoney, maxMoney);
                } else {
                    sendDataToServer(answers, minMoney, maxMoney, totalQuestions, ce_1, ce_2, ce_3);
                }
            }
        }

        async function sendDataToServer(answers, minMoney, maxMoney, totalQuestions, ce_1, ce_2, ce_3) {
            const response = await fetch(`/inputstep?events_ans=${answers}&ce_1=${ce_1}&ce_2=${ce_2}&ce_3=${ce_3}&money_min=${minMoney}&money_max=${maxMoney}`);
            const result = await response.json();
            displayResults(result);
        } // FastAPI call to input_step in main.py

        function startAdditionalQuestions(minMoney, maxMoney) {
            currentQuestion = 1; 
            showNextQuestion(minMoney, maxMoney); 
        } // Asks user additional questions if applicable. Goes through input_step in main.py

        async function showNextQuestion(minMoney, maxMoney) {
            const questionContainer = document.getElementById('questionContainer');
            questionContainer.innerHTML = '';

            const questionLabel = document.createElement('label');
            currentlot = await fetch(`/input_events?money_min=${minMoney}&money_max=${maxMoney}`);
            currentlot = await currentlot.json();
            questionLabel.innerText = `the lottery has a 50/50 probability that it will either pay out ${currentlot[0]} or ${currentlot[1]}: `;

            const questionInput = document.createElement('input');
            questionInput.type = 'text';
            questionInput.id = 'answerInput';
            questionInput.placeholder = `enter answer for question ${currentQuestion}`;

            const submitButton = document.createElement('button');
            submitButton.innerText = 'submit answer';
            submitButton.onclick = () => submitAnswer(currentlot);

            questionContainer.appendChild(questionLabel);
            questionContainer.appendChild(questionInput);
            questionContainer.appendChild(submitButton);
        }

        function submitAnswer(currentlot) {
            // Submits answers through FastAPI call to input_step in main.py
            const answerInput = document.getElementById('answerInput');
            const ranMin = currentlot[0];
            const ranMax = currentlot[1];
            const minMoney = parseFloat(document.getElementById('minMoney').value);
            const maxMoney = parseFloat(document.getElementById('maxMoney').value);
            const answer = [answerInput.value.trim(),ranMin, ranMax];

            if (!answer) {
                alert('please provide an answer.');
                return;
            }

            answers.push(answer);

            currentQuestion++;

            if (currentQuestion <= totalQuestions) {
                showNextQuestion(minMoney, maxMoney);
            } else {
                sendDataToServer(answers, minMoney, maxMoney, totalQuestions, ce_1, ce_2, ce_3); // all done
            }
        }

        function displayResults(data) {
            // Displays results of piecewise functions
            const container = document.getElementById("resultsContainer");
            container.innerHTML = "";

            container.innerHTML = `<strong>The Piecewise Functions (intercept, slope, conditions):</strong><br><br>`;

            if (Array.isArray(data)) {
                data.forEach((item, index) => {
                    const itemDiv = document.createElement("div");
                    itemDiv.innerHTML = `<strong>Piecewise ${index + 1}</strong>:<br>
                                        ${item[0].intercept} + ${item[0].slope}x, if ${item[0].x_min} ≤ x ≤ ${item[0].x_max}`;
                    container.appendChild(itemDiv);
                });
            } else {
                container.innerHTML = "Unexpected data format for Stepwise Elicitation.";
            }
        }
    </script>

    <div id="autoElicitation" style="display: none;">
        <h2>Auto Stepwise Elicitation</h2>
        <form id="elicitation-form">
            <label for="money_min">Minimum Money: </label>
            <input type="number" id="money_min" name="money_min" value="0"><br><br>

            <label for="money_max">Maximum Money: </label>
            <input type="number" id="money_max" name="money_max" value="100"><br><br>

            <label for="utility_function">Utility Function:</label>
            <select id="utility_function" name="utility_function">
                <option value="linear_utility">Linear Utility</option>
                <option value="cara_utility">Constant Absolute Risk Aversion</option>
                <option value="crra_utility">Constant Relative Risk Aversion</option>
                <option value="exp_utility">Exponential Utility</option>
                <option value="hara_utility">Hyperbolic Absolute Risk Aversion</option>
            </select><br><br>

            <label for="events_n">Number of Events: </label>
            <input type="number" id="events_n" name="events_n" value="0"><br><br>

            <button type="button" onclick="submitForm()">Run Elicitation</button>
        </form>

        <div id="results">
            <!-- Results are Displayed Here -->
        </div>
    </div>

    <h2>Utility Plot Comparison</h2>
    <label for="utility_function_plot">Utility Function:</label>
    <select id="utility_function_plot" name="utility_function_plot">
        <option value="linear_utility">Linear Utility</option>
        <option value="cara_utility">Constant Absolute Risk Aversion</option>
        <option value="crra_utility">Constant Relative Risk Aversion</option>
        <option value="exp_utility">Exponential Utility</option>
        <option value="hara_utility">Hyperbolic Absolute Risk Aversion</option>
    </select><br><br>
        <button onclick="fetchUtilityComparison()">Show Utility Plot Comparison</button>
        <br><br>
        <img id="utilityComparisonPlot" style="display: none; border: 1px solid #ddd; padding: 10px; border-radius: 8px;">

        <script>
            async function fetchUtilityComparison() {
                const utilfn = document.getElementById("utility_function_plot").value;
                
                // Fetches utility plot from display_auto through FastAPI in main.py
                const response = await fetch(`/display_auto?utility=${utilfn}&utility_name=${utilfn}`);
                const data = await response.json();
                
                // Display the image from utility plot as img element
                const img = document.getElementById("utilityComparisonPlot");
                img.src = `data:image/png;base64,${data.img_data}`;
                img.style.display = "block";
            }
        </script>

    <h2>Holt-Laury Piecewise Lotteries</h2>
        <button onclick="fetchHoltLaury()">Fetch Holt-Laury Lotteries</button>
    <div id="holt_laury_results">

    <script>
        async function submitForm() {
            // Sends user-input parameters to auto_stepwise_elict through FastAPI in main.py
            const money_min = document.getElementById("money_min").value;
            const money_max = document.getElementById("money_max").value;
            const utilfn = document.getElementById("utility_function").value;
            const events_n = document.getElementById("events_n").value;

            const response = await fetch(`/autostep?money_min=${money_min}&money_max=${money_max}&utilfn=${utilfn}&events_n=${events_n}`);
            const data = await response.json();
            displayAutoStepwiseResults(data);
        }

        async function fetchHoltLaury() {
            // Fetches Holt-Laury results from holt_laury_piecewise through FastAPI in main.py
            const response = await fetch("/holt_laury_piecewise");
            const data = await response.json();
            displayHoltLauryResults(data);
        }

        function displayAutoStepwiseResults(data) {
            // Displays results from Auto Stepwise Elicitation
            const container = document.getElementById("results");
            container.innerHTML = "";
            container.innerHTML = `<strong>The Piecewise Functions (intercept, slope, conditions):</strong><br><br>`;

            if (Array.isArray(data)) {
                data.forEach((item, index) => {
                    const itemDiv = document.createElement("div");
                    itemDiv.innerHTML = `<strong>Piecewise ${index + 1}</strong>:<br>
                     ${item[0].intercept} + ${item[0].slope}x, if ${item[0].x_min} ≤ x ≤ ${item[0].x_max}`;
                    container.appendChild(itemDiv);
        });

            } else {
                container.innerHTML = "Unexpected data format for Auto Stepwise Elicitation.";
            }
        }

        function displayHoltLauryResults(data) {
            // Displays results from fetching Holt-Laury results
            const container = document.getElementById("holt_laury_results");
            container.innerHTML = ""; // clear previous results

            if (Array.isArray(data) && data.length === 2) {
                const [holtLauryLotteries, choices] = data;

                const resultsDiv = document.createElement("div");
                resultsDiv.innerHTML = `<strong>Holt-Laury Lotteries and Choices:</strong><br><br>`;

                holtLauryLotteries.forEach((lotteryPair, index) => {
                    const choice = choices[index];
                    const firstLottery = lotteryPair[0];
                    const secondLottery = lotteryPair[1];

                    const pairDiv = document.createElement("div");
                    pairDiv.className = "lottery-pair";

                    // Formatting for First Lottery (A)
                    const firstLotteryDiv = document.createElement("div");
                    const formattedFirstLottery = `[${firstLottery[0].out}](${firstLottery[0].prob}) : [${firstLottery[1].out}](${firstLottery[1].prob})`;
                    if (choice === 0) {
                        firstLotteryDiv.innerHTML = `${formattedFirstLottery} <strong>--A</strong>`;
                        firstLotteryDiv.style.fontWeight = "bold";
                    } else {
                        firstLotteryDiv.innerHTML = `${formattedFirstLottery} --A`;
                    }
                    pairDiv.appendChild(firstLotteryDiv);

                    // Formatting for Second Lottery (B)
                    const secondLotteryDiv = document.createElement("div");
                    const formattedSecondLottery = `[${secondLottery[0].out}](${secondLottery[0].prob}) : [${secondLottery[1].out}](${secondLottery[1].prob})`;
                    if (choice === 1) {
                        secondLotteryDiv.innerHTML = `${formattedSecondLottery} <strong>--B</strong>`;
                        secondLotteryDiv.style.fontWeight = "bold";
                    } else {
                        secondLotteryDiv.innerHTML = `${formattedSecondLottery} --B`;
                    }
                    pairDiv.appendChild(secondLotteryDiv);

                    resultsDiv.appendChild(pairDiv);
                    resultsDiv.appendChild(document.createElement("br"));
                });

                container.appendChild(resultsDiv);

            } else {
                container.innerHTML = "Unexpected data format for Holt-Laury Piecewise Lotteries.";
            }
        }
    </script>
</div>
<script>
    function toggleElicitationMode() {
        // Toggle for Input vs. Auto Stepwise Elicitation
        const inputElicitation = document.getElementById('inputElicitation');
        const autoElicitation = document.getElementById('autoElicitation');
        const selectedMode = document.querySelector('input[name="elicitationMode"]:checked').value;

        if (selectedMode === 'input') {
            inputElicitation.style.display = 'block';
            autoElicitation.style.display = 'none';
        } else {
            inputElicitation.style.display = 'none';
            autoElicitation.style.display = 'block';
        }
    }
</script>
</body>
</html>